* {
    padding: 0px;
    margin: 0px;
}
body{
    font-family: 'Microsoft YaHei' 'SimHei';
}
img {
    border: none;
}
* {
    padding: 0px;
    margin: 0px;
}
.clear{
    clear: both;
}
img {
    border: none;
}
li{
    list-style: none;
}
.fr{
    float: right;
}
textarea{
    resize:none
}
.mb20{
    margin-bottom: 20px;
}
.fr{
    float: right;
}
#header_fixed{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #2b2b2b;
    background: white;
    z-index: 2222;
}
.header{
    width: 1000px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
}
#logo{
    display: block;
    width: 82px;
    height: 30px;
    float: left;
    padding-top: 5px;
}
.header ul{
    float: right;
    height: 40px;

}
.header ul li{
    float: right;
    height: 18px;
    margin-top: 11px;
    margin-right: 25px;
    font-size: 14px;
    list-style: none;

}
.header ul li a{
    color:black;
    text-decoration: none;
}
.header ul li a:hover{
    color:#3cb8f8;
}
.header ul .message{
    list-style: url("../images/star.png");
}
.header ul .favorites{
    list-style: url("../images/star.png");
    margin-left: 20px;
}
.header ul .login_button{
    color: #2db3f8;
}

.header ul li .message{
    /* background: url(../images/star.png); */
    padding-left: 15px;
    width: 100px;
    background: red;
}
.header ul li .favorites{
    padding-left: 15px;
    width: 100px;
}

/*...................................................................*/
.footer{
    width: 1145px;
    height: 76px;
    border-top: 1px solid #b9b9b9;
    margin-right: auto;
    margin-left: auto;
    clear: both;


}
.footer p{
    line-height: 76px;
    text-align: center;
    font-size: 16px;
    color:#919191;
}
.footer p a{
    color:#919191;
}
.footer p a:hover{
    text-decoration: underline;
    color: #2db3f8;
}